USE [master]
GO
/****** Object:  Database [MSUtilityDB]    Script Date: 07.11.2018 08:59:32 ******/
CREATE DATABASE [MSUtilityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSUtilityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\MSUtilityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MSUtilityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\MSUtilityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSUtilityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSUtilityDB]
GO
USE [MSUtilityDB]
GO
/****** Object:  Table [dbo].[TTDates]    Script Date: 07.11.2018 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTDates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Day] [date] NOT NULL,
 CONSTRAINT [PK_TTDates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTEntryData]    Script Date: 07.11.2018 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTEntryData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectEntryId] [int] NOT NULL,
	[Header] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TTEntryData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTKunde]    Script Date: 07.11.2018 08:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTKunde](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kunde] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TTKunde] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTKundeEntry]    Script Date: 07.11.2018 08:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTKundeEntry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KundeID] [int] NOT NULL,
	[DateID] [int] NOT NULL,
 CONSTRAINT [PK_TTEntry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTProject]    Script Date: 07.11.2018 08:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTProject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KundeId] [int] NOT NULL,
	[Project] [nvarchar](max) NOT NULL,
	[iksProjectID] [int] NULL,
 CONSTRAINT [PK_TTProject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTProjectEntry]    Script Date: 07.11.2018 08:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTProjectEntry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KundeEntryId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_TTProjectEntry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TTEntryData]  WITH CHECK ADD  CONSTRAINT [FK_TTEntryData_TTProjectEntry] FOREIGN KEY([ProjectEntryId])
REFERENCES [dbo].[TTProjectEntry] ([Id])
GO
ALTER TABLE [dbo].[TTEntryData] CHECK CONSTRAINT [FK_TTEntryData_TTProjectEntry]
GO
ALTER TABLE [dbo].[TTKundeEntry]  WITH CHECK ADD  CONSTRAINT [FK_TTKundeEntry_TTDates] FOREIGN KEY([DateID])
REFERENCES [dbo].[TTDates] ([ID])
GO
ALTER TABLE [dbo].[TTKundeEntry] CHECK CONSTRAINT [FK_TTKundeEntry_TTDates]
GO
ALTER TABLE [dbo].[TTKundeEntry]  WITH CHECK ADD  CONSTRAINT [FK_TTKundeEntry_TTKunde] FOREIGN KEY([KundeID])
REFERENCES [dbo].[TTKunde] ([Id])
GO
ALTER TABLE [dbo].[TTKundeEntry] CHECK CONSTRAINT [FK_TTKundeEntry_TTKunde]
GO
ALTER TABLE [dbo].[TTProjectEntry]  WITH CHECK ADD  CONSTRAINT [FK_TTProjectEntry_TTKundeEntry] FOREIGN KEY([KundeEntryId])
REFERENCES [dbo].[TTKundeEntry] ([ID])
GO
ALTER TABLE [dbo].[TTProjectEntry] CHECK CONSTRAINT [FK_TTProjectEntry_TTKundeEntry]
GO
ALTER TABLE [dbo].[TTProjectEntry]  WITH CHECK ADD  CONSTRAINT [FK_TTProjectEntry_TTProject] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[TTProject] ([Id])
GO
ALTER TABLE [dbo].[TTProjectEntry] CHECK CONSTRAINT [FK_TTProjectEntry_TTProject]
GO
USE [master]
GO
